@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

html {
  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/*ここから課題4*/

/* *ヘッダー */
/* body {
  background-color: gray;
} */

body {
  background: #e8d9bf;
}

.sp_only {
  display: none;
}
@media screen and (max-width: 1100px) {
  .sp_only {
    display: block;
  }
}

.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7% 0 3%;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.pc_nav ul li + li {
  margin-left: 55px;
}

.header_slider img {
  width: 100%;
}
/*スマホ版メニューは消す*/
.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  /* ハンバーガー */
  .sp_btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }
  .sp_btn span {
    position: relative;
    top: 10px;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    position: absolute;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
}
.sp_btn span::before {
  bottom: 10px;
}
.sp_btn span::after {
  top: 10px;
}

/*ハンバーガー 閉じる*/
.sp_btn.open span {
  background: transparent;
}
.sp_btn.open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
.sp_btn.open span::after {
  top: 0;
  transform: rotate(135deg);
}

/* ハンバーガーメニュー*/
.sp_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* デバイスの高さ100% */
  background: rgba(0, 0, 0, 0.8); /* カンマとピリオドに注意！ */
  z-index: 1;
}

.sp_nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sp_nav ul li {
  padding: 20px;
  color: #fff;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.pc_nav ul {
  display: flex;
}

/* リード */

.lead {
  max-width: 1000px;
  margin: 100px auto 50px;
  font-size: 28px;
  text-align: center;
}
.lead_text1 {
  font-size: 30px;
  margin-bottom: 50px;
}
.lead_text2 {
  font-size: 82px;
  line-height: 1.17;
  margin-bottom: 30px;
}
.lead_text3 {
  font-size: 23px;
  line-height: 1.65;
  margin-bottom: 50px;
}
@media screen and (max-width: 1100px) {
  .lead_text1 {
    font-size: 25px;
  }

  .lead_text2 {
    font-size: 68px;
  }
}
.lead_text3 {
  font-size: 17px;
}

@media screen and (max-width: 767px) {
  .lead {
    margin-top: 50px;
  }
  .lead_text1 {
    font-size: 17px;
  }

  .lead_text2 {
    font-size: 30px;
  }

  .lead_text3 {
    font-size: 17px;
    line-height: 1.5;
  }
}

/* ABOUT */

.about {
  max-width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
}

.about_box {
  width: 50%;
  margin-bottom: 100px;
}

.about_photo {
  border-radius: 0 0 80px 0;
}

.about_imagebox {
  width: 42%;
  margin: 50px 0 50px;
  padding-right: 10px;
}

.about_logo {
  width: 250px;
  margin-bottom: 50px;
}

.about_title {
  font-size: 44px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 40px;
}

.about_text {
  font-size: 17px;
  line-height: 1.6;
}

@media screen and (max-width: 1100px) {
  .about_title {
    font-size: 30px;
  }
  .about_text {
    font-size: 15px;
  }
}

@media screen and(max-width: 767px) {
  .about_box {
    display: none;
  }
  .about_sp {
    display: block;
  }

  .about_logo {
    width: 250px;
    margin-bottom: 50px;
  }
}

/* MENU */

.menu {
  max-width: 1000px;
  margin: 0 auto;
}

.menu_title {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.menu_box {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 50px;
}

.menu_category {
  width: 30%;
}

.menu_item_photo {
  border-radius: 0 40px 0 0;
}

.menu_item_heading {
  color: #d30202;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: -12px;
  padding-left: 12px;
  font-weight: normal;
}

.menu_item_text {
  font-size: 17px;
  line-height: 1.47;
}

@media screen and (max-width: 1100px) {
  .menu {
    font-size: 30px;
  }
  .menu_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    margin-bottom: 100px;
  }
  .menu_title {
    width: 110px;
  }

  .menu_category {
    width: 100%;
  }
  .menu_item_photo {
    width: 100%;
    border-radius: 0 40px 0 0;
  }
  .menu_item_heading {
    font-size: 60px;
    margin-top: -18px;
  }

  .menu_box {
    flex-direction: column;
    row-gap: 5em;
  }
}

/* ギャラリー */

.gallery_title {
  margin: 0 auto;
  width: 240px;
  padding: 50px;
}

.gallery_box {
  display: flex;
  margin-bottom: 100px;
}

.gallery_photo {
  width: 30%;
  /* margin-bottom: px; */
}

@media screen and (max-width: 1100px) {
  .gallery_title {
    width: 240px;
  }
}

@media screen and (max-width: 767px) {
  .gallery_title {
    width: 150px;
  }

  .gallery_box {
    display: none;
  }

  .gallery_sp {
    display: block;
  }
}

/* EVENT */

.event {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 10px;
}

.event_title {
  width: 170px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.event_list {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: solid 4px #543838;
  padding: 30px;
  margin-bottom: 50px;
}

.event_list ul li {
  font-size: 18px;
}

.event_list ul li + li {
  margin-top: 18px;
}
.event_list ul li time {
  margin-right: 50px;
}

.event_list ul li a {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .event {
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .event {
    padding: 40px;
  }

  .event_title {
    width: 110px;
    margin-bottom: 40px;
  }
}

/* アクセス */

.access_title {
  width: 213px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.access_map iframe {
  display: block;
  width: 100%;
  height: 470px;
}

@media screen and (max-width: 1100px) {
  .access_title {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .access_title {
    width: 130px;
    margin-bottom: 10px;
  }
  .access_map iframe {
    display: block;
    height: 250px;
  }
}

/* フッター */

footer {
  background-color: #fff;
}

.footer_box {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 10px;
}

.footer_title {
  width: 200px;
  margin-right: 60px;
}

.footer_boxbox {
  font-size: 20px;
  line-height: 2;
  color: #000;
}

.footer_flexbox p {
  margin-bottom: 20px;
}

.footer_copy {
  font-size: 15px;
  line-height: 2;
  text-align: center;
  padding-bottom: 80px;
  color: #000;
}

@media screen and (max-width: 767px) {
  .footer_box {
    display: block;
    padding: 60px 10px 40px;
  }

  .footer_title {
    width: 250px;
  }
}

/* .pagetop */

.pagetop {
  width: 120px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
