@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

body {
  background: #eee;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/*ここから課題3*/

.title {
  color: cadetblue;
  margin: 50px;
  text-align: center;
}

.section-title {
  border-left: 7px solid cadetblue;
  color: cadetblue;
  padding: 5px;
  margin: 10px 16px 10px 16px;
}

.service {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  /* padding: 10px; */
}
.service li {
  background-color: #fff;
  width: 32%;
  margin-bottom: 20px;
}

.service li img {
  width: 100%;
}

p {
  font-size: 15px;
  color: #7d7d7d;
  padding: 0px 15px 15px 15px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 400px) {
  .service {
    display: block;
  }

  .service li {
    width: 100%;
  }
}
