@charset "utf-8";

.design {
  position: relative;
  max-width: 914px;
  margin: 10px auto 0px;
}

.design_subheading {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  transform: rotate(-90deg);
  font-family: "Noto Serif JP", serif;
  font-size: 52px;
  color: #dfdfdf;
}

.design_subheading.-left {
  left: -160px;
}
.design_subheading.-right {
  right: -160px;
}

.design_lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 53px;
}

.design_list {
  /* height: 560px;
  width: 268px; */
  background: white;
  /* border: solid rgb(255, 255, 255); */
}

.design_item_heading {
  /* text-align: center; */
  margin: 50px auto;
  font-size: 24px;
  font-weight: bold;
}

.design_item_text {
  line-height: 32px;
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
}

.btn {
  display: block;
  width: 198px;
  height: 35px;
  line-height: 35px;
  background-color: #ff2083;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  border-radius: 25px;
  margin: 47px auto 0;
  justify-content: center;
}
