@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

  font-weight: bold;

  font-feature-settings: "palt";
}

html {
  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

ここから卒業制作 

  /*ヘッダー*/
  body {
  background-color: #fff;
}
.heager_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7% 0 3%;
}

.header_logo {
  width: 248px;
  margin: 35px;
  padding-left: 80px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #000c;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
  white-space: nowrap;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  max-width: 1366px;
}

ul li {
  padding: 0 30px;
}

.box {
  border: 0px solid;
  height: 5px;
  margin-inline: auto;
  max-width: 1366px;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.box {
  background: linear-gradient(
    90deg,
    rgba(255, 97, 97, 1),
    rgba(233, 178, 45, 1) 20%,
    rgba(192, 202, 75, 1) 34%,
    rgba(53, 179, 56, 1) 58%,
    rgba(86, 110, 243, 1) 79%,
    rgba(154, 39, 238, 1)
  );
}
