@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

  font-weight: bold;

  font-feature-settings: "palt";
}

html {
  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

ここから卒業制作 

  /*ヘッダー*/
  body {
  background-color: #fff;
}

.heager_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 7%;
  padding-left: 2.8%;
}

.header_logo {
  width: 248px;
  margin: 35px;
  padding-left: 80px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #000c;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
  white-space: nowrap;
}

/* スマホ版メニューは消す */
.sp_nav {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  max-width: 1366px;
}

ul li {
  padding: 10px 0;
}

.contact {
  width: 114px;
  height: 80px;
  line-height: 40px;
  background-color: #ff2083;
  color: #ffffff;
  font-size: 0.75rem;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}
#header .contact:hover {
  background-color: #333;
}

.linear-gradient {
  border: 0px solid;
  height: 5px;
  margin-inline: auto;
  max-width: 1920px;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.linear-gradient {
  background: linear-gradient(
    90deg,
    rgb(184, 97, 255),
    rgb(145, 219, 247) 10%,
    rgb(153, 245, 188) 30%,
    rgb(241, 255, 82) 34%,
    rgb(248, 251, 158) 58%,
    rgb(244, 169, 119) 79%,
    rgb(253, 156, 200) 89%
  );
}

.linear-gradient2 {
  height: 8px;
  margin-inline: auto;
  max-width: 1920px;
  width: auto;
  margin: 30px 0 0 0;
  padding: 0px;
}

.linear-gradient2 {
  background: linear-gradient(
    90deg,
    rgb(184, 97, 255),
    rgb(145, 219, 247) 10%,
    rgb(153, 245, 188) 30%,
    rgb(216, 223, 134) 34%,
    rgb(248, 251, 158) 58%,
    rgb(244, 169, 119) 79%,
    rgb(253, 156, 200) 89%
  );
}

/* コンセプト */

.category {
  width: 200px;
  line-height: 54px;
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 24px;
  margin: 100px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.lead {
  max-width: 1000px;
  margin: 10px auto 0px;
  text-align: center;
}
.lead_title {
  font-size: 29px;
  margin-bottom: 70px;
  letter-spacing: 0.12em;
}
.lead_text {
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 50px;
  font-weight: normal;
  letter-spacing: 0.1em;
}

/*  サービス */

.category2 {
  width: 200px;
  line-height: 54px;
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 24px;
  margin: 100px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.service {
  max-width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
  margin: 10px auto 0px;
  text-align: center;
}

.service_box {
  width: 200%;
  margin-bottom: 100px;
  padding-right: 10px;
}

.service_box {
  position: relative;
}

.absolute {
  position: absolute;
  right: 900px;
  bottom: 800px;
  width: 10%;
  border: none;
}

.before {
  top: -16px;
  left: 0%;
}
.after {
  top: -12px;
  right: -30px;
}

/* img {
  border: solid 15px #f5f5f5;
} */

.service_title {
  font-size: 29px;
  margin-bottom: 70px;
  letter-spacing: 0.12em;
  text-align: center;
}

.service_text {
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 50px;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-top: 60px;
}

.button {
  width: 276px;
  height: 49px;
  line-height: 50px;
  background-color: #ff2083;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  margin: 100px auto;
  justify-content: center;
}
/*  合成サービス */

.combined {
  max-width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
  margin: 10px auto 0px;
  text-align: center;
}

.combined_box {
  width: 200%;
  margin-bottom: 100px;
  padding-right: 10px;
}

.combined_box {
  position: relative;
}

.combined_title {
  font-size: 29px;
  margin-bottom: 70px;
  letter-spacing: 0.12em;
  text-align: center;
}

.combined_text {
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 50px;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-top: 60px;
}

.absolute2 {
  position: absolute;
  right: 900px;
  bottom: 800px;
  width: 10%;
  border: none;
}

.before2 {
  top: -16px;
  left: 0%;
}
.after2 {
  top: -12px;
  right: -30px;
}

/*  ここまで合成サービス */

/* ここからデザイン */

.design {
  max-width: 1000px;
  margin: 0 auto;
}

.design_title {
  font-size: 29px;
  margin-bottom: 70px;
  letter-spacing: 0.12em;
  text-align: center;
}

.design_box {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 50px;
}

.design_category {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.design_text {
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 50px;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-top: 60px;
  text-align: center;
}
