@charset "utf-8";

#contact {
  max-width: 1000px;
  margin: 40px auto;
}

.contact_group {
  display: flex;
  align-items: center;
  padding: 30px 60px;
  border-top: 1px solid #aaaaaa;
}
.contact_title {
  width: 19%;
}

.contact_require {
  width: 9%;
  text-align: center;
}

.contact_label {
  padding: 5px 10px;
  background-color: #c33;
  color: #fff;
}

.contact_label_2 {
  padding: 5px 10px;
  background-color: #a0a0a0;
  color: #fff;
}

.contact_input {
  width: 55.4%;
  border: 1px solid #a0a0a0;
  padding: 15px;
}

.contact_input_-textarea {
  height: 273px;
}

.contact_input.-textarea {
  height: 273px;
}

.checkbox {
  justify-content: center;
}

.button {
  display: block;
  width: 198px;
  height: 35px;
  background-color: #ff2083;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  margin: 100px auto;
  justify-content: center;
}
