@charset "utf-8";

#contact {
  max-width: 1000px;
  margin: 40px auto;
}

.contact_group {
  display: flex;
  padding: 30px 60px;
  border-top: 1px solid #aaaaaa;
}
.contact_title {
  width: 19%;
}

.contact_require {
  width: 9%;
}

.contact_input {
  width: 55.4%;
}
